{% extends "theme/base_page.html" %}
{% block header_title %} Home Page {% endblock %}
{% block page_content %}
{% load static %}

<!-- <h1>{{ test }}</h1> -->

<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet the Unredacted team</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Each member is senior CS student at the University of Missouri.</p>
      </div>
      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="{% static 'images/ls_headshot.jpg' %}" alt="">
            <div>
              <h3 class="text-base font-semibold">Luke Schaefer</h3>
              <p class="text-sm font-semibold">Frontend Developer</p>
            </div>
          </div>
        </li>

        <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 rounded-full" src="{% static 'images/cd_headshot.jpg' %}" alt="">
              <div>
                <h3 class="text-base font-semibold">Cam Day</h3>
                <p class="text-sm font-semibold">Backend Developer</p>
              </div>
            </div>
          </li>


          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 rounded-full" src="{% static 'images/rs_headshot.jpg' %}" alt="">
              <div>
                <h3 class="text-base font-semibold">Ryan Sellers</h3>
                <p class="text-sm font-semibold">NLP Architect</p>
              </div>
            </div>
          </li>


          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 rounded-full" src="{% static 'images/lv_headshot.png' %}" alt="">
              <div>
                <h3 class="text-base font-semibold">Landon Vowels</h3>
                <p class="text-sm font-semibold">Database Manager</p>
              </div>
            </div>
          </li>
  
        <!-- More people... -->
      </ul>
    </div>
  </div>

{% endblock %}
