{% extends "theme/base.html" %}
{% block main %}
<div class="min-h-full">
    {% block nav_bar %}{% endblock %}
    <div id="replace-me">
      <header class="bg-white shadow" >
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">{% block header_title %}{% endblock %}</h1>
      </div>
      </header>
      <main>
          <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            {% block page_content %}{% endblock %}
          </div>
      </main>
    </div>
</div>
{% endblock %}