{% load static tailwind_tags %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Django Tailwind</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% tailwind_css %}
  {% load static %}
  <script src="{% static 'js/htmx.min.js' %}" defer></script>
</head>

<!-- <body class="bg-gray-50 font-serif leading-normal tracking-normal"> -->
<!-- <div class="container mx-auto"> -->
<!--   <section class="flex items-center justify-center h-screen"> -->
<!--     <h1 class="text-5xl">Django + Tailwind = ❤️</h1> -->
<!--   </section> -->
<!-- </div> -->
<!-- </body> -->

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <main id="main">
    {% block main %}{% endblock %}
  </main>
</body>

</html>
