{% extends "theme/base.html" %}
{% block main %}
<div class="min-h-full" id="replace-me">
    <!-- {% block nav_header %}{% endblock %} -->
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" 
                id="home_page_button" hx-get="/dashboard" hx-trigger="click" hx-target="#replace-me" hx-swap="outerHTML">Home</a>
                <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" 
                id="search_page_button" hx-get="/dashboard" hx-trigger="click" hx-target="#replace-me" hx-swap="outerHTML">Search Documents</a>
              </div>
            </div>
          </div>
      </div>
    </nav>
    <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">{% block header_title %}{% endblock %}</h1>
    </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          {% block page_content %}{% endblock %}
        </div>
      </main>
</div>
{% endblock %}
